.back-button {
    top: 10px;
    position: absolute;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 168px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.topcoat-icon--back {
    background: url("images/back_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.count {
    color: #5DC1FF;
    position: absolute;
    right: 50px;
    top: 26px;
    font-weight: bold;
}

.search-bar {
    padding:10px 10px 12px 8px;
}

.search-bar > input {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgb(0, 0, 0);
}

.details {
    margin: auto;
}

.details>img {
    float:left;
    margin:10px;
    width: 80px;
    height: 80px;
}

.details h1 {
    padding: 12px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.2rem;
}

.details h2 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.1rem;
    font-weight: normal;
    color: #888;
}

.list {
    list-style-type: none;
}

.list > li {
    position: relative;
    clear: both;
    padding: 0px;
    margin: 0px;
}

.list > li:nth-of-type(1) {
    border-top: none;
}

.list > li > a {
    margin: 0px;
    display: block;
    height: 57px;
    padding: 4px;
}


.list > li > a > p:nth-of-type(1) {
    margin: 8px 0px 0px 0px;
    font-weight: bold;
}

.list > li p:nth-of-type(2) {
    margin: 0px;
    color: #777;
}

.list > li img {
    width: 57px;
    height: 57px;
    float: left;
    margin-right: 8px;
}

.list li:active {
    background-color: #d6d6d6;
}

.actions > li > a {
    padding-left: 12px;
}

.action-icon {
    position: absolute !important;
    top: 18px;
    right: 20px !important;
    width: 28px !important;
    height: 28px;
}

.actions li p:nth-of-type(1) {
    color:  #5DC1FF;
    font-size: 0.9em;
    font-weight: lighter;
}

.actions li p:nth-of-type(2) {
    color: inherit;
}

ul {
    clear:both;
    border-top: none !important;
}

.icon-call {
    background: transparent url(images/call.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-sms {
    background: transparent url(images/chat.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-mail {
    background: transparent url(images/email.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-manager {
    background: transparent url(images/next.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.icon-reports {
    background: transparent url(images/next.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.chevron {
    background: transparent url(images/next_blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 22px;
    height: 50px;
    width: 28px;
}

.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
}


.slide-left.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 101;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.topcoat-select-input  {
      line-height: 3rem;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 0 1.25rem;
      border: 1px solid #333434;
      border-radius: 6px;
      background-color: #454646;
      box-shadow: inset 0 1px rgba(0,0,0,0.05);
      color: #c6c8c8;
      vertical-align: top;
      width:200px;
      height:50px;
}

.topcoat-select-input:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #000;
    color: white;
}

input.ng-valid {
    background-color: #0F4A2C;
}

input.ng-invalid {
    background-color: #4A293A;
}

.list > li > a {
    margin: 0 10px 0;
    display: block;
    height: 57px;
    padding: 4px;
}

.topcoat-icon-button--quiet.active {
    text-shadow: 0 -1px rgba(0,0,0,.69);
    border: 1px solid #333434;
    box-shadow: inset 0 1px #737373;
    background-color: #626465;
   }

.margin-10 {
    margin:10px;
}

.margin-right-10 {
    margin-right: 10px;
}

img.zoom-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}