<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Create Imigi Game</h1>
    </div>
</div>
<form name="newGameForm">
<center>
	<br>
	<input type="text" class="topcoat-text-input" ng-model="name" required placeholder="Game name" value="">
	<br>
</center>

<center>
	<br>
	    <select ng-model="players" required class="topcoat-select-input">
	      <option value="">Amount of players</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
		  <option value="6">6</option>
		</select>
	<br>
</center>

<center>
	<br>
	    <select ng-model="deck" required class="topcoat-select-input">
	      <option value="">Select deck</option>
	      <option value="All">All</option>
		  <option value="Pandora">Pandora</option>
		  <option value="Hemera">Hemera</option>
		  <option value="Imiginarium">Imiginarium</option>
		  <option value="Casya">Casya</option>
		</select>
	<br>
</center>
</form>
<center>
	<br>
	<button ng-disabled="newGameForm.$invalid" ng-click="createGame()" class="topcoat-button"> + Add Game </button>
	<br>
</center>



