<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center quarter">
        <a ng-class="{ active: !desk_active }" class="topcoat-icon-button--quiet back-button" ng-click="hand()">
           Hand
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center quarter">
        <a ng-class="{ active: desk_active }" class="topcoat-icon-button--quiet back-button" ng-click="desk()">
           Desk
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="chat()">
           Chat
        </a>
    </div>
</div>
<div class='details'>
    <h1 style="margin-left:20px;" class='left'>Hint:</h1>
    <h2 style="margin-left:20px;" class='left'>{{hint}}</h2>
    <div style="padding-top:20px;" class="topcoat-list__container scroller center">
	    <ul rn-carousel class="image">
	    	<li ng-click="go('/card/ariada/0097.jpg', ' ')">
               <img ng-src="https://s3.amazonaws.com/imiginarium/ariada/0097.jpg">
	    	</li>
	    	<li>
             <img ng-src="https://s3.amazonaws.com/imiginarium/ariada/0098.jpg">
	    	</li>
	    </ul>
    </div>
</div>
