<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">{{game.name}}</h1>
    </div>
</div>
<div class='details'>
    <img ng-src="styles/images/ic_action_users.png" class="employee-image">
    <h1>Max people: {{game.players}}</h1>
    <h2>Deck: <b>{{game.deck}}</b></h2>
    <div class="topcoat-list__container scroller">
	    <ul class="topcoat-list list actions">
	    	<li ng-hide="auth.user" class="topcoat-list__item">
	    		<a class="center">
	    			<h2><b><p>You must be logged in to join the game!</p></b></h2>
	    		</a>
	    	</li>
	    	<li ng-show="auth.user" class="topcoat-list__item">
	    		<a ng-click="join()">
	    			<h2><b><p>Join The Game</p></b></h2>
	    			<div class="action-icon icon-manager"/>
	    		</a>
	    	</li>
	        <li class="topcoat-list__header"><p class="center">Who joined:</p></li>
	        <li class="topcoat-list__item" ng-repeat="user in game.users">
	        <div class="margin-10">
	        	<i class="fa fa-user"></i> <span style="margin-left:10px;">{{user.username}}</span>
	        </div>
	        </li>
	    </ul>
    </div>
</div>
