<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Imigi Games</h1>
    </div>
</div>
<div class="search-bar">
    <a href="#/create" class="topcoat-button"> + Add Game </a>
    <span style="float: right;" ng-show="loginObj.user"> 
        <span style="color:gray;">{{loginObj.user.email.split('@')[0]}} &nbsp;&nbsp;</span>
        <a href="#" title="{{loginObj.user.email}}" class="topcoat-button" ng-click="loginObj.$logout()">Logout</a> 
    </span>
    <span style="float: right;" ng-hide="loginObj.user"> <a href="#/login" class="topcoat-button"> Login </a> </span>
</div>
<div class="topcoat-list__container scroller" style="top:138px;">
    <ul class="topcoat-list list">
        <li ng-repeat="(id, game) in games" class="topcoat-list__item">
            <a ng-click="go('details/' + id)">
                <!-- <img ng-src="pics/{{employee.pic}}"> -->
                <p>{{game.name}}</p>
                <p>{{game.deck}}</p>
                <span class="chevron"></span><span class="count">{{game.players}}</span>
            </a>
        </li>
    </ul>
</div>
