
<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Login</h1>
    </div>
</div>
<br>
<center>
<form name="loginForm">
	<input type="email" class="topcoat-text-input" required placeholder="email address" ng-model='email'>
	<br>
	<br>
	<input type="password" class="topcoat-text-input" required placeholder="password" ng-model='password'>
</form>
<br>
<button ng-disabled="loginForm.$invalid" ng-click="logIn()" class="topcoat-button">Login</button>
</center>